 .imageContainer {
		width: 100%;
		background-image: url("https://github.com/alexander0042/pirateweather/raw/main/PirateWeatherBanner.png");
		height: 250px;
		background-size: cover;
 }
 
 
 .text-block {
  position: relative;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}