name: Zensical Build

permissions:
  contents: write # only for delete-branch option
  issues: write
  pull-requests: write

on:
  push:
  pull_request:
  schedule:
    - cron: '0 6 * * 6'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v5.0.0
      - name: Install Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: pip install -r docs/requirements.txt
      - name: Build site
        run: zensical build
